Repository voxpupuli/puppetboard, pull requests merged in 2024-11, with the labels that each got.

#1184 drop support for python 3.8
  .github/workflows/tests.yml
  README.md
  setup.py
Labels: backwards-incompatible

#1139 Sort kernelrelease fact
  puppetboard/static/custom-natural/natural.js
  puppetboard/templates/_facts_sorter.html
  puppetboard/templates/_macros.html
  puppetboard/templates/fact.html
  puppetboard/views/facts.py
Labels: bug

#1200 Release 6.0.0
  CHANGELOG.md
  puppetboard/version.py
Labels: skip-changelog

#1205 feat(ci): switch from trivy to grype
  .github/workflows/security_scanning.yml
  .github/workflows/trivy-analysis.yml
Labels: github_actions
